/* .right-side-bar {
  color: red;
} */

*,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "cursive";
  font-size: 16px;
  line-height: 1.5;
  color: black;
}

.categories::-webkit-scrollbar {
  display: none;
}

.full-screen-modal::-webkit-scrollbar {
  display: none;
}

.card-footer {
  display: flex;
  align-content: center;
  padding: 0 0.5rem;
  justify-content: left;
}

.card-footer > span {
  padding: 0 0.3rem;
}

.multi-line-truncated-text {
  display: -webkit-box;
  line-clamp: 3; /*Adjust the number of lines you want to show */
  -webkit-line-clamp: 3; /* Adjust the number of lines you want to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
